.tiptap.ProseMirror {
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  p > img {
    display: inline-block;
  }

  > img:not([data-type="emoji"] img) {
    margin: 4px;
    outline: 0.125rem solid transparent;
  }

  img:not([data-type="emoji"] img).ProseMirror-selectednode {
    outline-color: var(--tt-brand-color-500);
  }

  // Thread image handling
  .tiptap-thread:has(> img) {
    margin: 4px;

    img {
      outline: 0.125rem solid transparent;
    }
  }

  .tiptap-thread img {
    margin: 4px;
  }
}
